<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="../static/styles/authorize.css" rel="stylesheet">
</head>

<body>
    <button class="main" onclick="window.location.href='/';">Go to Main Page</button>
    <br>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="text" id="username" placeholder="Username" required />
            <input type="password" id="password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
        <button type="button" id="switchToRegisterBtn">Register New User</button>

        <div id="registrationSection" style="display: none;">
            <h2>Register New User</h2>
            <form id="registerForm">
                <input type="text" id="newUsername" placeholder="New Username" required />
                <input type="password" id="newPassword" placeholder="New Password" required />
                <div class="radio-group">
                    <label><input type="radio" name="role" value="operator" required /> Operator</label>
                    <label><input type="radio" name="role" value="user" required /> User</label>
                    <label id="adminOption" style="display: none;"><input type="radio" name="role" value="admin" />
                        Admin</label>
                </div>
                <button type="submit">Register User</button>
            </form>
            <button type="button" id="switchToLoginBtn">Back to Login</button>
        </div>
    </div>

    <script src="../static/scripts/authorize.js"></script>
</body>

</html>